{
  "bracketSpacing": true,
  "bracketSameLine": true,
  "semi": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false,
  "singleQuote": true,
  "plugins": [
    "prettier-plugin-tailwindcss"
  ]
}
